*{
    color: #8D8741;
    /* rgb(141, 135, 65) */
    color: #659DBD;
    /* rgb(101, 157, 189) */
    color: #DAAD86;
    /* rgb(218, 173, 134) */
    color: #BC986A;
    /* rgb(188, 152, 106) */
    color: #FBEEC1;
    /* rgb(251, 238, 193) */
}